.formx {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .input-with-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .input-with-icons > .MuiFormControl-root {
    flex: 1;
  }
  
  .input-with-icons > .MuiIconButton-root {
    background-color: transparent;
  }
  
  .adults-children-date {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .adults-children-date .MuiTextField-root {
    width: 100px; /* Adjust the width as needed */
  }
  
  .name-email {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .name-email .MuiTextField-root {
    flex: 1; /* Take up remaining space */
  }