.form-container {
  background-color: white;
  max-width: 40%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 5%;
}

.form-group {
  flex: 0 0 48%; /* Adjust the width as needed */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
input[type="email"],
input[type="name"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.small-input {
  width: calc(50% - 5px);
  display: inline-block; /* Ensure inputs are displayed inline */
  margin-right: 10px; /* Add space between inputs */
}

.prices-text {
  position: relative;
  top: 0;
  left: 0;
  margin: 20px; /* Add some margin for spacing */
  font-size: 18px;
  color: black; /* Adjust color as needed */
}
