.footer {
    background-color: blue;
    color: #fff;
    padding: 20px;
    height: 15%; /* Adjust the height as needed */
}

.Logo-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.logo-footer img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}

.logoText-footer {
    font-size: 20px;
    margin-left: 10px;
}

.links-to a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.socials {
    display: flex;
}

.socials > * {
    margin-left: 10px;
}
