.Hero-Section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-bottom: 2%;
  }
  
  .HeroImg {
    background-image: url('../assets/Bondbarrel.png');
    background-size: cover;
    background-position: center center;
    width: 100%; 
    height: 100%; 
  }
  .welcomeBox {
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 1%;
    margin: 1%;
    top: 60%;
    left: 3%;
    width: 25%;
    height: 30%;
    transition: all 0.3s ease;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .welcomeButton {
    background: #222831;
    color: white;
    padding: 8px 16px; 
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.welcomeBox:hover {
    background: #222831;
    transform: scale(1.1); 
}

.welcomeBox:hover .welcomeButton {
    background: white !important;
    color: black;
}



span.bigger {
  font-size: 24px;
  align-items: center;
  color: black;
}

span.rest {
  font-size: 18px;
  color: black;
}
.welcome-box:hover .bigger,
.welcome-box.hovered .rest {
  color: white; 
}
.welcome-box:hover .rest {
  color: white; 
}

@media screen and (max-width: 768px) {
  span.bigger {
    font-size: 15px;
  }

  .rest {
    font-size: 8px; 
  }
}