.mainSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.leftSide {
  flex: 1;
  padding: 20px;
}

.rightSide {
  flex: 1;
  padding: 20px;
}

.splitContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row; /* Added to make the items appear beside each other */
}

.leftSide > div {
  margin-bottom: 20px;
}

.rightSide > div {
  margin-bottom: 20px;
}

.leftSide h1,
.leftSide h3,
.leftSide h5,
.leftSide p,
.rightSide h1,
.rightSide h3,
.rightSide h5,
.rightSide p {
  color: white;
}

.Wrapper {
  width: 100%;
  border-bottom: 4px solid white; 
}
