.poster-container{
  display: flex;
  width: 100%;
  height: 95%;
  margin-bottom: 10%;
  transition: background-color 0.5s ease, transform 0.3s ease;
  
}


.info-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #312f2f;
  transition: background-color 0.5s ease;
}
.movie-img-container{
  background-color: antiquewhite;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.movie-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-list{
  display: flex;
  gap: 3%;
}

.card-link{
  text-decoration: none;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 47px 30px 21px 15px;
}
.movie-title{
  font-size: 30px;
  margin-left: 10%;
  margin-bottom: 20%;
}

.text{
  font-size: 20px;
  margin-left: 10%;
  margin-bottom: 80%;
}

.text-container{
  margin-left: 10%;
}


.text-label{
  margin-bottom: 3%;
}

@media (max-width: 991px) {
  .poster-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }

  .movie-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #312f2f;
    padding: 20px;
  }

  .info {
    padding-right: 0;
    margin-top: 20px;
  }

  .text {
    margin-top: 20px;
  }
}

.poster-container:hover{
  
}

.poster-container:hover {
  background-color: #243d46; 
  transform: scale(1.03) translateX(5px); 
  
}
