.movie-container {
  margin-bottom: 10%;
}

@media (max-width: 991px) {
  .movie-container {
    max-width: 100%;
  }
}

.movie-list {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .movie-list {
    flex-direction: column;
    gap: 40px;
  }
}

.poster-container {
  display: flex;
  width: 50%;
}

@media (max-width: 991px) {
  .poster-container {
    width: 100%;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 57%;
  background-color: #312f2f;
}

@media (max-width: 991px) {
  .info-container {
    width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 47 30px 21px 15px;
}

@media (max-width: 991px) {
  .info {
    padding-right: 20px;
  }
}

.movie-title {
  background: linear-gradient(180deg, #a67c00 50%, #403000 92.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 700 40px Inter, sans-serif;
}

.text {
  color: #fff;
  margin-top: 46px;
  font: 27px Inter, sans-serif;
}

@media (max-width: 991px) {
  .text {
    margin-top: 40px;
  }
}

.movie-meta {
  display: flex;
  margin-top: 128px;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .movie-meta {
    margin-top: 40px;
  }
}

.exhibition-details {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 700;
}

.exhibition-label {
  font: 20px Inter, sans-serif;
}

.exhibition-area {
  margin-top: 14px;
  font: 16px Inter, sans-serif;
}

.book-now-link {
  background-color: linear-gradient(
    236deg,
    #c99809 41.04%,
    #876606 76.96%,
    #403000 111.38%
  );
  border-radius: 50%;
  color: #000;
  font: 600 16px Inter, sans-serif;
  padding: 36px 9px;
  text-align: center;
}

.movie-image {
  width: 43%;
  margin-left: 0%;
}

@media (max-width: 991px) {
  .movie-image {
    width: 100%;
    margin-left: 0;
  }
}

.movie-poster {
  width: 100%;
  aspect-ratio: 0.63;
  object-fit: cover;
}
