
.museum-container {
    display: flex;
    width: 100%;
    margin-bottom: 10%;
}

.Museumbox-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #312f2f;
}
.Museum-img-con {
    background-color: aliceblue;
    height: 31vh;
    width: 42vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.museum-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0;
}

.Museum-link {
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease;
}

.museum-card-content {
    width: 20vw;
    height: 20vh;
}

.museum-card-title {
    font-size: 22px;
    margin-bottom: 10%;
    margin-left: 5%;
}

.museum-card-description {
    font-size: 16px;
    text-align: left;
    margin-left: 5%;
}

.museum-grid {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 991px) {
    .museum-container {
        max-width: 51%;
    }

    .museum-grid {
        flex-direction: column;
        gap: 40px;
    }

    .museum-card-content {
        width: 100%; 
    }

    .museum-card-title,
    .museum-card-description {
        margin-left: 0; 
    }
}
.Museum-link:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover */
}