
.bigger {
    font-size: 38px;
    align-items: center;
    color: black;
  }

@media screen and (max-width: 768px) {
    .bigger {
      font-size: 15px; /* Adjust font size for smaller screens */
    }
  
    .rest {
      font-size: 8px; /* Adjust font size for smaller screens */
    }
  }